body{
    font-family: sans-serif;
    margin: 0;
}
tr.titulos{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
}
table,td{
    border: 2px solid white;
    text-align: center;
}
table{
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}
div.titulotiempo{ 
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
    padding:15px;
    font-weight: bold;
    width: 100%;
}
div.tiempoactual{
    font-size:25px;
    margin-top:35px;
    margin-bottom: 15px;
    margin-left: 30px;
}
div.datostiempo{
    display: flex;
    justify-content: center;
}
div.datosimportantes{
    display: flex;
    font-size:30px;
}
div.tiempoactual{
    font-weight: bold;
}
div.tiempogrados{
    font-size:50px;
    margin-top:4px;
}
div.tiempofoto{
    margin-bottom: 10px;
    margin-right: 10px;
}
div.otrosdatos{
    margin-top:18px;
    margin-left:10px;
    color: #505050;
    font-size:15px;
}
div.tiempodiario{
    display: flex;
    border-left: 2px solid grey;
    margin-left: 7%;
    padding-left: 7%;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 40px;
}
div.tiempomin{
    margin-top:3px;
    margin-right: 5px;
    color: blue;
}
div.tiempomax{
    margin-top:3px;
    margin-left: 5px;
    color: red;
}
div.barra{
    margin-top:3px;
}

@media (max-width: 480px) {

    div.tiempoactual{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    div.tiempodiario{
        display: none;
    }
}