body{
    margin: 0;
}
div.cargando{
    width:200px;
    height: 200px;
}
tr.titulos{
    font-size: 20px;
   
}
tr.titulos3{
    font-size: 20px;
   
}
tr.titulos2{
    font-size: 20px;
   
}
table,td{
    border: 2px solid white;
    text-align: center;
}
table{
    height: 50%;
    border-collapse: collapse;
    
}
div.titulotiempo{ 
    margin-bottom: 15px;
    text-align: center;
    padding:15px;
}
div.tiempofoto{
    margin-top:2px;
}
div.datosimportantes{
    font-size:30px;
}

div.tiempogrados{
    font-size:50px;
}

div.otrosdatos{
    font-size:13px;
    margin-left:10px;
    margin-right: 15px;
}
div.tiempodiario{
    border-left: 2px solid grey;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
}
div.tiempomin{
    margin-right: 5px;
}
div.tiempomax{
    margin-left: 5px;    
}

button.horas{
    background-color: black;
    color: white;
    border:2px solid white;
    height: 40px;
    width: 86px;
    font-size: 17px;
    border-bottom: none;
}
button.dias{
    background-color: black;
    color: white;
    border:2px solid white;
    height: 40px;
    width: 86px;
    font-size: 17px;
    border-bottom:none;
}
button.mañana{
    background-color: black;
    color: white;
    border-top:2px solid white;
    border-left:none;
    border-right:none;
    border-bottom:none;
    height: 40px;
    width: 86px;
    font-size: 17px;
}
div.alertas{
    margin-bottom: 20px;
    margin-right: 20%;
    text-align: center;
    font-style:italic;
    color: rgb(87, 87, 87);
    font-size:15px;
}
img.cargando{
    margin: 25%;
    width: 50%;
}

@media (max-width: 480px) {

    div.tiempoactual{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    div.tiempodiario{
        display: none;
    }
    div.alertas{
        margin-left:0px;
        text-align: center;
    }
}